<!DOCTYPE html>
<html>
<head>
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav>
  <% menuLinks.forEach(link => { %>
    <a href="<%= link.path %>" <%= link.path === activeLinkPath ? 'class="active"' : '' %>>
      <%= link.label %>
    </a>
  <% }) %>
</nav>
<h1><%= headTitle %></h1>
<p>You have been logged out.</p>
<a href="/">Return to Home</a>
</body>
</html>